.cards__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    transform: translateY(100%);
    transition: .4s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

@media screen and (max-width:800px) {
    .cards__overlay {
        transform: translateY(0%);
    }
}