.im-in-button {
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
    font-weight: 400;
    font-size: 34px;
    width: 40%;
    border: 3px transparent;
    border-radius: 14px;
    background-color: black;
    margin: 70px 0 70px 0;
    transition: 0.2s transform ease-in;
    text-shadow:
        0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.42),
        0 0 12px rgba(30, 132, 242, 0.58),
        0 0 22px rgba(30, 132, 242, 0.84),
        0 0 38px rgba(207, 108, 201, 0.88),
        0 0 60px rgba(207, 108, 201, 1);
    box-shadow:
        0 0 5px white,
        0 0 15px #cf6cc9,
        0 0 20px #4c4ab2;
}

@media screen and (max-width:768px) {
    .im-in-button {
        font-size: 28px;
    }
}

@media screen and (max-width:580px) {
    .im-in-button {
        font-size: 24px;
    }
}

@media screen and (max-width:495px) {
    .im-in-button {
        font-size: 20px;
    }
}

@media screen and (max-width:460px) {
    .im-in-button {
        width: 50%;
    }
}

@media screen and (max-width:460px) {
    .im-in-button {
        width: 60%;
    }
}

@media screen and (max-width:375px) {
    .im-in-button {
        width: 90%;
    }
}

.im-in-button:hover {
    box-shadow:
        0 0 10px white,
        0 0 20px #cf6cc9,
        0 0 30px #4c4ab2;
    transform: scale(1.05);
    cursor: pointer;
}