.cards__header {
    position: relative;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    font-size: 50px;
    margin: 0 0 .3em;
    color: black;
    text-shadow: 0 0 10px rgb(255 255 255);
  }
  
  @media screen and (max-width:800px) {
    .cards__header {
      transform: translateY(0);
      color: white;
      padding-top: 10px;
      font-weight: normal;
    }
  
  }